---
title: "Global Climate Over Time: Temperature Trends by Country"
author: "Yuki Yu"
date: "2024-01-18"
categories: [Data, Python]
---

## Global Climate Over Time: Temperature Trends by Country

In [1]:
import pandas as pd
import seaborn as sns
import sqlite3
import numpy as np

## 1. Creating a Database

First, we will create a database called `temps.db` as shown below, and then read in the csv file as an iterator that gives a dataframe with up to 100,000 rows each iteration for more efficient processing time and memory storage.

In [2]:
# Create a database in current directory called temps.db
conn = sqlite3.connect("temps.db")

In [3]:
# Read in the csv file as an iterator with up to 100,000 observations each iteration
df_iter = pd.read_csv("temps.csv", chunksize=100000)

### Preparing the `temperatures` table
Now we will inspect the dataframe.

In [4]:
df = df_iter.__next__()

In [5]:
df.head()

,ID,Year,VALUE1,VALUE2,VALUE3,VALUE4,VALUE5,VALUE6,VALUE7,VALUE8,VALUE9,VALUE10,VALUE11,VALUE12
0,ACW00011604,1961,-89.0,236.0,472.0,773.0,1128.0,1599.0,1570.0,1481.0,1413.0,1174.0,510.0,-39.0
1,ACW00011604,1962,113.0,85.0,-154.0,635.0,908.0,1381.0,1510.0,1393.0,1163.0,994.0,323.0,-126.0
2,ACW00011604,1963,-713.0,-553.0,-99.0,541.0,1224.0,1627.0,1620.0,1596.0,1332.0,940.0,566.0,-108.0
3,ACW00011604,1964,62.0,-85.0,55.0,738.0,1219.0,1442.0,1506.0,1557.0,1221.0,788.0,546.0,112.0
4,ACW00011604,1965,44.0,-105.0,38.0,590.0,987.0,1500.0,1487.0,1477.0,1377.0,974.0,31.0,-178.0

The first table we want to put into the database is `temperatures`, so we will need to restructure the dataframe so that we get a cleaner look. Therefore, we will write a function as shown below to prepare our table.

In [6]:
def prepare_df(df):
    """
    Transforms a DataFrame of temperature data into a long-form DataFrame with standardized column names.

    Parameters:
    - df (DataFrame): A pandas DataFrame with 'ID', 'Year', and monthly temperature columns.

    Returns:
    - DataFrame: The transformed DataFrame with columns 'ID', 'Year', 'Month', and 'Temp',
      where 'Month' is a numerical month and 'Temp' is the rescaled temperature value.
    """
    # Stack the table with ID and Year as the index
    df = df.set_index(keys=['ID', 'Year'])   
    df = df.stack()
    df = df.reset_index()
    # Rename the columns with clearer labels
    df = df.rename(columns={"level_2": "Month", 0: "Temp"}) 
     # Extract just the numerical value as the month
    df["Month"] = df["Month"].str[5:].astype(int)
    df["Temp"] = df["Temp"] / 100 
    
    return(df)

### Preparing the `countries` table
We acquire a data frame that gives the full country name corresponding to the FIPS (Federal Information Processing System) code. The FIPS code is an internationally standardized abbreviation for a country:

As shown below, we now have the `temperatures` table we want and are ready to add it to the database!

In [7]:
countries_url = "https://raw.githubusercontent.com/mysociety/gaze/master/data/fips-10-4-to-iso-country-codes.csv"
countries = pd.read_csv(countries_url)
countries.head(5)

  FIPS 10-4 ISO 3166            Name
0        AF       AF     Afghanistan
1        AX        -        Akrotiri
2        AL       AL         Albania
3        AG       DZ         Algeria
4        AQ       AS  American Samoa

The first 2 letters of `ID` are the same as the letters given in `FIPS 10-4`!

### Adding the `temperatures` and `countries` tables
The code below adds the `temperatures` and `countries` tables to the database.

In [8]:
# run this again to make sure no chunks are skipped over
df_iter = pd.read_csv("temps.csv", chunksize=100000) 
for i, df in enumerate(df_iter):
    df = prepare_df(df)
    # add "temperatures" table to the database
    df.to_sql("temperatures", conn, if_exists="replace" if i==0 else "append", 
              index=False)
    # add "countries" table to the database
    countries.to_sql("countries", conn, if_exists="replace" if i==0 else "append", 
                     index=False)

### Adding the `stations` table
Now we want to add in the `stations` table. Since it is not a large csv file, we can just read it in directly.

In [9]:
stations = pd.read_csv("station-metadata.csv")
stations.to_sql("stations", conn, if_exists="replace", index=False)

27585

### Verification
With the code below, we can verify that all 3 tables were successfully added into the database.

In [10]:
cursor = conn.cursor() # we can only execute sql commands through cursor
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

[('temperatures',), ('countries',), ('stations',)]

### Close the database connection

In [11]:
conn.close()

## 2. Write a Query Function

`query_climate_database()`accepts five arguments:

 - `db_file`, the file name for the database
 - `country`, a string giving the name of a country for which data should be returned.
 - `year_begin` and `year_end`, two integers giving the earliest and latest years for which should be returned.
 - `month`, an integer giving the month of the year for which should be returned. 
 
The return value of `query_climate_database()` is a Pandas dataframe of temperature readings for the specified country, in the specified date range, in the specified month of the year. This dataframe should have the following columns, in this order:

 - `NAME`: The station name.
 - `LATITUDE`: The latitude of the station.
 - `LONGITUDE`: The longitude of the station.
 - `Country`: The name of the country in which the station is located.
 - `Year`: The year in which the reading was taken.
 - `Month`: The month in which the reading was taken.
 - `Temp`: The average temperature at the specified station during the specified year and month.

### Import `query_climate_database()`

In [12]:
from climate_database import query_climate_database
import inspect

# Inspect the function
print(inspect.getsource(query_climate_database))

def query_climate_database(db_file, country, year_begin, year_end, month):
    """
    Retrieves temperature readings from the climate database for a specified country and date range.

    Parameters:
    - db_file (str): Path to the SQLite database file.
    - country (str): Country name to filter the temperature readings.
    - year_begin (int): Starting year for the range of readings.
    - year_end (int): Ending year for the range of readings.
    - month (int): Month of the year for which the readings are queried.

    Returns:
    - DataFrame: A pandas DataFrame containing temperature readings, with columns for station
      name, latitude, longitude, country, year, month, and average temperature.
    """
    with sqlite3.connect(db_file) as conn:
        # conn is automatically closed when this block ends

        # NAME, LATITUDE, LONGITUDE, Country, Year, Month, Temp
        cmd = \
        f"""
        SELECT S.NAME, S.LATITUDE, S.LONGITUDE, C.Name as Country, T.Year, T.Month, T.Temp
        FROM temperatures T
        LEFT JOIN stations S ON T.ID = S.ID
        LEFT JOIN countries C ON SUBSTR(T.ID, 1, 2) = C.`FIPS 10-4`
        WHERE T.Month = {month}
            AND T.Year >= {year_begin}
            AND T.Year <= {year_end}
            AND C.Name = '{country}'
        """
        df = pd.read_sql_query(cmd, conn)
        df = df.drop_duplicates()
    return df

### Verification
As shown below, `query_climate_database()` works as intended.

In [13]:
query_climate_database(db_file = "temps.db",
                       country = "India", 
                       year_begin = 1980, 
                       year_end = 2020,
                       month = 1)

               NAME  LATITUDE  LONGITUDE Country  Year  Month   Temp
0     PBO_ANANTAPUR    14.583     77.633   India  1980      1  23.48
1     PBO_ANANTAPUR    14.583     77.633   India  1981      1  24.57
2     PBO_ANANTAPUR    14.583     77.633   India  1982      1  24.19
3     PBO_ANANTAPUR    14.583     77.633   India  1983      1  23.51
4     PBO_ANANTAPUR    14.583     77.633   India  1984      1  24.81
...             ...       ...        ...     ...   ...    ...    ...
3147     DARJEELING    27.050     88.270   India  1983      1   5.10
3148     DARJEELING    27.050     88.270   India  1986      1   6.90
3149     DARJEELING    27.050     88.270   India  1994      1   8.10
3150     DARJEELING    27.050     88.270   India  1995      1   5.60
3151     DARJEELING    27.050     88.270   India  1997      1   5.70

[3152 rows x 7 columns]

## 3. Write a Geographic Scatter Function for Yearly Temperature Increases

### Import the necessary libraries for plotting

In [14]:
from plotly import express as px
from plotly.io import write_html
import plotly.io as pio
from plotly.subplots import make_subplots
from sklearn.linear_model import LinearRegression
import calendar
pio.renderers.default='iframe'

### Write a function to estimate the change in temperature
Let's compute a simple estimate of the year-over-year average change in temperature in each month at each station. For this, we'll use linear regression. We'll use the statistical fact that, when regressing `Temp` against `Year`, the coefficient of `Year` will be an estimate of the yearly change in `Temp`.

In [15]:
def coef(data_group):
    """
    Calculates the coefficient from a linear regression of yearly temperature data.

    This function performs a linear regression on the 'Year' column of the provided DataFrame
    against the 'Temp' column to estimate the year-over-year change in temperature.

    Parameters:
    - data_group (DataFrame): A pandas DataFrame with 'Year' and 'Temp' columns.

    Returns:
    - float: The coefficient representing the annual change in temperature.
    """
    x = data_group[["Year"]] # 2 brackets because X should be a df
    y = data_group["Temp"] # 1 bracket because y should be a series
    LR = LinearRegression()
    LR.fit(x, y)
    return LR.coef_[0]

### Write the function `temperature_coefficient_plot()`
`temperature_coefficient_plot()` will create visualizations that address the following question:

    How does the average yearly change in temperature vary within a given country?

This function accepts six explicit arguments, and an undetermined number of keyword arguments.

 - `db_file`, `country`, `year_begin`, `year_end`, and `month` should be as in the previous part.
 - `min_obs`, the minimum required number of years of data for any given station. Only data for stations with at least `min_obs` years worth of data in the specified month should be plotted; the others should be filtered out. `df.transform()` plus filtering is a good way to achieve this task.
 - `**kwargs`, additional keyword arguments passed to `px.scatter_mapbox()`. These can be used to control the colormap used, the mapbox style, etc.
 
The output of this function should be an interactive geographic scatterplot, constructed using Plotly Express, with a point for each station, such that the color of the point reflects an estimate of the yearly change in temperature during the specified month and time period at that station. A reasonable way to do this is to compute the first coefficient of a linear regression model at that station, as illustrated in the lecture where we used the `.apply()` method.

In [16]:
def temperature_coefficient_plot(db_file, country, year_begin, year_end, month, 
                                 min_obs, **kwargs):
    """
    Generates an interactive scatterplot map showing the yearly change in temperature 
    for each station within a given country, filtered by the number of observations.

    Parameters:
    - db_file (str): Path to the database file.
    - country (str): Name of the country for which the data is queried.
    - year_begin (int): The starting year for the query.
    - year_end (int): The ending year for the query.
    - month (int): The month for which the data is queried.
    - min_obs (int): Minimum number of years of data required for a station to be included.
    - **kwargs: Additional keyword arguments passed to px.scatter_mapbox().

    Returns:
    - plotly.graph_objs._figure.Figure: An interactive map visualization created with Plotly Express.
    """
    # grab the dataframe
    df = query_climate_database(db_file, country, year_begin, year_end, month) 
    
    # count the number of yrs worth of data each station has 
    df["Obs"] = df.groupby(["NAME", "Month"])["Year"].transform('count') 
    
    # find the coefficients for estimates of yearly temp change
    coefs = df.groupby(["NAME","Month"]).apply(coef)
    coefs = coefs.reset_index()
    coefs[0] = coefs[0].round(4) # round the coefficients to 4 decimal places
    coefs = coefs.rename(columns={0:"Yearly Temp Change (°C)"})
    coefs = coefs.drop("Month", axis=1) # we don't need this col so we drop it 
    
    # left join with df to form one singular table
    df = df.merge(coefs, on='NAME', how= 'left') 
    # filter out the stations with < min_obs yrs of data
    df = df[df["Obs"] >= min_obs] 
    
    # plot
    fig = px.scatter_mapbox(df, lat="LATITUDE", lon="LONGITUDE" 
                            , color="Yearly Temp Change (°C)"
                            ,title = f"Estimates of yearly increase in temperature in {calendar.month_name[month]} <br>for stations in {country}, years {year_begin}-{year_end}"
                            , hover_name= "NAME" # show station each point when we hover
                            , color_continuous_midpoint=0 # set colobar midpoint to 0
                            , **kwargs)
    
    return fig

In [17]:
color_map = px.colors.diverging.RdGy_r # choose a colormap

fig = temperature_coefficient_plot("temps.db", "India", 1980, 2020, 1, 
                                   min_obs = 10,
                                   zoom = 2,
                                   mapbox_style="carto-positron",
                                   color_continuous_scale=color_map)

fig.show()
#figure_file = 'fig.html'
#pio.write_html(fig, file=figure_file)

In [18]:
color_map = px.colors.diverging.Tealrose # choose a colormap

fig1 = temperature_coefficient_plot("temps.db", "Germany", 1992, 2016, 1, 
                                   min_obs = 10,
                                   zoom = 3,
                                   mapbox_style="carto-positron",
                                   color_continuous_scale=color_map)

fig1.show()
figure_file = 'fig1.html'
pio.write_html(fig1, file=figure_file)

## 4. Create Two More Interesting Figures

### First Visualization
    Does the average temperature for a given country follow the general trend of its 
    hemisphere?
    
    
`country_to_hemisphere_plot` gets 4 inputs:

 - `db_file`: the file name for the database
 - `country`: a string giving the name of a country for which data should be returned.
 - `year_begin` and `year_end`: two integers giving the earliest and latest years for which should be returned.

The output should be a barplot grouped by year that shows the given country's average temperature over thoughout the year. It should also be overlayed by a line plot that shows each year's average temperature of the hemisphere the country is located in to see if the country's average temperatures follows the pattern/trend of the average temperature of its hemisphere.

In [19]:
from climate_database import seasons_database
import plotly.graph_objs as go
# Inspect the function
print(inspect.getsource(seasons_database))

def seasons_database(db_file, country, year_begin, year_end):
    """
    Retrieves temperature readings classified by hemisphere and seasons for a specified country and date range.

    Parameters:
    - db_file (str): Path to the SQLite database file.
    - country (str): Country name to filter the temperature readings.
    - year_begin (int): Starting year for the range of readings.
    - year_end (int): Ending year for the range of readings.

    Returns:
    - DataFrame: A pandas DataFrame containing the temperature readings along with additional columns
      'Hemispheres' and 'Seasons' indicating the hemisphere (North or South) and the meteorological
      season when the reading was taken.
    """

    with sqlite3.connect(db_file) as conn:
        cmd = \
        f"""
        SELECT S.NAME, S.LATITUDE, S.LONGITUDE, C.NAME as Country, T.Year, T.Month, T.Temp,
        CASE
            WHEN S.LATITUDE > 0 THEN 'North'
            ELSE 'South'
        END AS Hemispheres,
        CASE
            WHEN (S.LATITUDE > 0 AND (T.Month = 12 OR T.Month = 1 OR T.Month = 2)) THEN 'Winter'
            WHEN (S.LATITUDE <= 0 AND T.Month >= 6 AND T.Month <= 8) THEN 'Winter'
            WHEN (S.LATITUDE > 0 AND T.Month >= 3 AND T.Month <= 5) THEN 'Spring'
            WHEN (S.LATITUDE <= 0 AND T.Month >= 9 AND T.Month <= 11) THEN 'Spring'
            WHEN (S.LATITUDE > 0 AND T.Month >= 6 AND T.Month <= 8) THEN 'Summer'
            WHEN (S.LATITUDE <= 0 AND (T.Month = 12 OR T.Month = 1 OR T.Month = 2)) THEN 'Summer'
            ELSE 'Fall'
        END AS Seasons
        FROM temperatures T
        LEFT JOIN stations S ON T.ID = S.ID
        LEFT JOIN countries C ON SUBSTR(T.ID, 1, 2) = C.`FIPS 10-4`
        WHERE T.Year >= {year_begin}
            AND T.Year <= {year_end}
            AND C.NAME = '{country}';
        """
        df = pd.read_sql_query(cmd, conn)
        df = df.drop_duplicates()
    return df

In [20]:
def country_to_hemisphere_plot(db_file, country, year_begin, year_end):
    """
    Creates a visualization comparing the average temperature of a specified country 
    to the average temperature of its hemisphere, grouped by month and year.

    Parameters:
    - db_file (str): Path to the SQLite database file containing temperature data.
    - country (str): The name of the country for analysis.
    - year_begin (int): The start year for the data analysis.
    - year_end (int): The end year for the data analysis.

    Returns:
    - plotly.graph_objs._figure.Figure: A Plotly figure object that contains a line plot 
      for the hemisphere's average temperature and bar plots for the country's average 
      temperature for each month within the specified year range.
    """
    df = seasons_database(db_file, country, year_begin, year_end) # grab the dataframe
    # Add new columns 'Country Avg Temp' and 'Hemisphere Avg Temp'
    df['Country Avg Temp'] = df.groupby(["Country", "Year", "Month"])["Temp"].transform(np.mean)
    df['Hemisphere Avg Temp'] = df.groupby(['Hemispheres', 'Year', 'Month'])['Temp'].transform(np.mean)
    df['Country Avg Temp'] = df['Country Avg Temp'].round(4)
    df['Hemisphere Avg Temp'] = df['Hemisphere Avg Temp'].round(4)
    # Make sure that we don't have duplicate data for the given country
    df = df[df['Country'] == country]
    df = df.drop(['NAME', 'Temp', 'LATITUDE', 'LONGITUDE', 'Seasons'], axis=1)
    df = df.sort_values(by=['Year', 'Month'])
    df = df.drop_duplicates() 

    # Create a line plot for the hemisphere avg temperature with year as a category
    fig = px.line(df, x='Month', y='Hemisphere Avg Temp', color='Year', 
                  title=f'Average Temperature for {country}', line_group='Year')
    
    color_palette = np.random.choice(px.colors.qualitative.Plotly, 
                                     year_end-year_begin+1, replace=False)
    index = 0
    for year in range(year_begin, year_end+1):
        # Add a bar plot for the country's average temperature
        year_data = df[df['Year'] == year]
        fig.add_trace(go.Bar(x=year_data['Month'], y=year_data['Country Avg Temp'], 
                             name=f'{country} Avg Temp {year}', 
                             marker=dict(color=color_palette[index])
                            , hovertemplate='Avg Temp= %{y:.4f}<br>Year= %{customdata}<br>Month= %{x}',
                            customdata=[year] * len(year_data)))
        index +=1
    fig.update_layout(barmode='group', xaxis_title='Month'
                      , yaxis_title='Temperature (°C)', legend_title='Legend')

    return fig

In [21]:
fig2 = country_to_hemisphere_plot("temps.db", 'India', 2016, 2018)
fig2.show()
figure_file = 'fig2.html'
pio.write_html(fig2, file=figure_file)

### Second Visualization
    Has there been significant seasonal temperature change over the years for a given 
    country?

`season_plot` gets 4 inputs: 

 - `db_file`: the file name for the database
 - `country`: a string giving the name of a country for which data should be returned.
 - `year_begin` and `year_end`: two integers giving the earliest and latest years for which should be returned.

The output should be a line plot that shows how the temperature of the country changes throughout the years for all 4 seasons (one line for each season). You should also be able to see the season, slope, and p-value of each line as you hover above it.

In [22]:
import statsmodels.api as sm
from plotly.subplots import make_subplots

def season_plot(db_file, country, year_begin, year_end):
    """
    Creates a multifaceted line plot of average seasonal temperatures.

    For each season, a subplot is generated showing the trend of average temperatures over
    the years with annotations for the linear regression slope and the p-value. The figure
    consists of one subplot for each season, allowing for comparison across seasons within
    the specified year range for the given country.

    Parameters:
    - db_file (str): Path to the SQLite database file containing temperature data.
    - country (str): Country name for which the temperature data is to be analyzed.
    - year_begin (int): The starting year for the analysis.
    - year_end (int): The ending year for the analysis.

    Returns:
    - plotly.graph_objs._figure.Figure: A Plotly figure object with subplots for each season.
    """
    df = seasons_database(db_file, country, year_begin, year_end)
    df = df.groupby(['Year', 'Seasons'])['Temp'].mean().reset_index()
    
    seasons = df['Seasons'].unique()
    fig = make_subplots(rows=2, cols=2, subplot_titles=seasons)
    
    row_col_pairs = [(i // 2 + 1, i % 2 + 1) for i in range(len(seasons))]
    
    for season, (row, col) in zip(seasons, row_col_pairs):
        season_data = df[df['Seasons'] == season]
        X = sm.add_constant(season_data['Year'])
        model = sm.OLS(season_data['Temp'], X).fit()
        
        slope = model.params['Year']
        p_value = model.pvalues['Year']
        
        hover_text = f"Slope: {slope:.4f}<br>p-value: {p_value:.4g}"
        
        fig.add_trace(go.Scatter(
            x=season_data['Year'],
            y=season_data['Temp'],
            mode='lines+markers',
            name=season,
            text=hover_text, 
            hoverinfo='text+x+y'
        ), row=row, col=col)
    
    fig.update_layout(
        title=f'Seasonal Temperatures of {country}, years {year_begin} - {year_end}',
        xaxis_title='Year',
        yaxis_title='Temperature (°C)',
        legend_title='Seasons',
        height=800,
        width=800
    )
    
    # Update xaxis and yaxis properties if needed
    fig.update_xaxes(title_text="Year", row=row, col=col)
    fig.update_yaxes(title_text="Temperature (°C)", row=row, col=col)

    return fig

In [23]:
fig4 = season_plot('temps.db', 'China', 1980, 2021)
fig4.show()
figure_file = 'fig4.html'
pio.write_html(fig4, file=figure_file)

From this plot, we see that China has been getting warmer over the years for fall, spring, and summer. All 3 seasons have a positive slope with an extremely small p-value, indicating that this increase in temperature is significant. Though China's winters have a negative slope, it's p-value is relatively large at approximately 0.5, making this result insignificant.